/* ===========================================
    Table Of Content 
  =========================================== 
  

  1. Header Design.
  2. Pop Up Design 
  3. Icon & Button Design.
  4. Responsive Design (Media Query). 
  */
/* ==============================
  1. Header Design 
  ===============================*/
  header.flex {
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;
  }
  header.flex nav {
    background-color: var(--bg--Header);
    padding: 0.77rem 1.6rem;
    border-radius: 55px;
    box-shadow: 1px 1px 40px var(--shadow--color);
  }
  header ul.flex {
    gap: 16px;
  }
  header ul li a {
    color: var(--title--color);
    opacity: 0.9;
    font-size: 0.88rem;
    font-weight: 500;
  }
  header ul li a:hover {
    color: var(--blue--color);
    opacity: 1;
    font-size: 0.9rem;
  }
  header button {
    font-size: 1.2rem;
  }
  header.flex .menu {
    display: none;
  }
  /* =========================
    2.Pop Up Design 
    ==========================*/
  header .fixed {
    position: fixed;
    inset: 0;
    background-color: rgba(40, 40, 48, 0.85);
    backdrop-filter: blur(4px);
    z-index: 1000;
  }
  @keyframes move {
    0% {scale: 0;}
    60% {scale: 1.2;}
    100% {scale: 1;} 
  }
  header .fixed ul.popup-model{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--secondary--color);
    animation: move 1s 1;
  }
  header .fixed ul.popup-model li:not(:last-child){
    border-bottom: 2px solid var(--border--color);
    padding-bottom:.77rem;
    padding-top: .5rem;
  }
  header .fixed ul.popup-model li{
    padding-bottom:.77rem;
    padding-top: .5rem;
  }
  header .fixed ul.popup-model li:first-child{
    border: none;
    text-align: right;
    padding-bottom: 0;
    padding-top: 0.2rem;
    margin-bottom: -1rem;
  }
  header .fixed ul.popup-model li a{
    font-size: 1rem;
    transition: 1s;
  }
  /* ====================== 
    3.Icons & Button  Design 
  =========================*/
  header button.mode, header .icon-menu{
    background-color: var(--bg--Header);
    height: 2.4rem;
    width: 2.4rem;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    color: var(--subtitle--color);
    border: 1px solid rgba(244, 165, 96, .249);
    transition: .2s;
  }
  header button.mode:hover, header .icon-menu:hover{
    color: var(--title--color);
    border: 1px solid rgb(244, 165, 96);
  }
  header .icon-remove{
    font-size: 1.5rem;
    color: var(--subtitle--color);
    transition: .8s;
  }
  header .icon-remove:hover{
    color: crimson;
    font-size: 1.8rem;
    transform: rotate(180deg);
  }
  header .icon-sun{
    color: orange;
  }
  /* =============================
    4. Responsive Design (Media Query)
    ============================== */
  @media (max-width: 700px) {
    header.flex nav {
      display: none;
      z-index: 1000;
    }
    header.flex .menu {
      display: block;
    }
  }
  
  
  /* =============================
    End Of Header.jsx Design 
    ============================== */